.history-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  width: 100%;
  padding-block: 0.5em;
}
.time {
  width: 100px;
}
.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.application-details {
  display: flex;
  gap: 0.4em;
  align-items: center;
}
.title {
  font-weight: 500;
}
.domain {
  color: #64748b;
}
button {
  border: none;
  background-color: rgba(255, 255, 255, 0.24);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #83838342, -2px -2px 10px #83838342;
}
.application-details img {
  width: 30px;
  height: 30px;
  margin-right: 1em;
}
